/*SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */


/*FONT SIZE SYSTEM (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */


/* MAIN COLOR: #087f5b
        GREY COLOR: #343a40
      */


/* thuvienanimation */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ZoomOut {
    0% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
    }
}


/*  */

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    width: 100%;
}

.icon {
    color: #228be6;
}

.avatar {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0px 0px 2px 2px #868e96;
    left: 50%;
    top: 34vi;
    transform: translate(-50%, 0);
}


/* banner */

.banner-text {
    color: #fff;
    text-align: center;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 1.2;
}

.banner-img {
    /* top: 0%; */
    margin-left: 5%;
    margin-right: 5%;
    background-size: cover;
    width: 90%;
    height: 20%;
    border-bottom: 2px solid #000;
    border-radius: 0px 0px 12px 12px;
    position: relative;
}


/* navbar */

#nav-bar {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

#nav-container {
    height: 10vh;
    justify-content: center;
    align-items: normal;
}

#nav-link {
    width: 16vw;
    animation: ZoomOut 1s ease-in;
}

#navbar-item:hover {
    background-color: #ddd;
    color: black;
    font-size: 13px;
}

.navitem {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.navitem1 {
    border-left: none;
}

.navitem2 {
    border-right: none;
}

#navbar-item-center a {
    cursor: unset;
}

#nav-link-center {
    width: 22vw;
    border-left: 1px;
}

#nav-link-center p {
    font-size: 13px;
}


/* info */

#target {
    background-color: #f1f3f5;
    animation: slideInFromLeft 1s ease-in;
}

#personal {
    background-color: #dee2e6;
    animation: slideInFromRight 1s ease-in;
}

.infor {
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    line-height: 2;
    color: #868e96;
    list-style: none;
}

.in4 {
    list-style: none;
}

.infor a {
    font-size: 16px;
}

.infor a:hover {
    font-size: 20px;
}

.section-title {
    font-size: 32px;
    color: #495057;
}


/* Ex */

#job-info {
    margin: 28px 28px;
    animation: FadeIn 1s ease-in;
}

#job-info .container-in4 {
    font-size: 14px;
}

.card-body {
    color: #495057;
    width: 100%;
    height: 100%;
    border: 1px solid #ced4da;
}

.in4-div i {
    color: #868e96;
}

.in4-div p {
    color: #6f7881;
}

.in4-div p {
    margin: 0;
    line-height: 1.7
}

#job-info h4 {
    height: 5%;
}

.icons {
    font-size: 3.8vmax;
    color: #62686e;
    height: 5%;
}

.container-in4 {
    height: 100%;
}

.in4-divflex i {
    display: flex;
    font-size: 18px;
    width: 52px;
    height: 52px;
    border: 3px solid #38d9a9;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*     */
}

.in4-divflex p {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3;
}

.in4-divflex i:hover {
    background-color: #38d9a9;
    color: #fff;
    border: 1.5px solid #fff;
    cursor: pointer;
}

.score {
    background: #199cdb;
    display: inline-block;
    height: 3px;
    margin-right: 4px;
    width: 45px;
}

.score1 {
    background-color: #f1f3f5;
    display: inline-block;
    height: 3px;
    margin-right: 4px;
    width: 45px;
}

.in4-div ul li p span {
    display: inline-block;
    width: 26%;
    text-align: center;
    background-color: #228be6;
    color: #fff;
    border-radius: 10%;
}

.in4-div ul li::marker {
    color: #228be6;
    /* bullet color */
    font-size: 130%;
}


/* certificate */

#certificate {
    animation: FadeIn 1s ease-in;
}

.cer {
    background-color: #f7f7f7;
}

.cer img {
    width: 15vw;
    height: 10vi;
}

.certificate-div {
    border-bottom: 1px solid #d6c08d;
}

.certificate-div:last-child {
    border-bottom: none;
}

.certificate-div img {
    border: 10px solid #fff;
}

.certificate-small {
    line-height: 1.2;
    color: #868e96;
}

.certificate-small b {
    line-height: 2.5;
    text-transform: uppercase;
    color: #495057;
}

.cer-left {
    border-right: 1px solid #d6c08d;
}


/* project */

#project {
    animation: FadeIn 1s ease-in;
}

.img-project {
    width: 100%;
    height: 15vi;
}

.bodercv {
    color: #495057;
    border: 1px solid #ced4da;
    padding: 4% 2%;
}

.bodercv p {
    margin: 0;
}

.year-noneicon {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background-color: #228be6;
    padding: 5px 10px;
    border-radius: 50px;
}

.section-titlediv .img-project {
    box-shadow: 2px 2px 2px #343a40;
}


/* lam cho vui */

.message {
    height: 20vi !important;
}

.mapp {
    margin-left: 5vw;
    width: 54vw;
    height: 42vi;
    border-radius: 5%;
    animation: slideInFromRight 1s ease-in;
}

.contact {
    animation: slideInFromLeft 1s ease-in;
}

.btn {
    padding: 0.7vi !important;
}


/* footer */

.footer {
    width: 100vw;
    background-color: #f7f7f7;
    /* background-color: #000; */
}

#footer .container {
    padding-bottom: 1%;
    padding-top: 2%;
    text-align: center;
}

#footer a {
    display: inline-block;
    padding: 1%;
    font-size: 90%;
    text-decoration: none;
}

#footer a:visited,
#footer a:active,
#footer a:link {
    color: #868e96;
}

#footer a i {
    font-size: 180%;
    color: #228be6;
}


/* footer */


/* reponsive */


/* small */

@media (max-width:1122.40px) {
    #job-info h4 {
        font-size: 18px;
    }
    .in4-div ul li p span {
        width: 33%;
    }
    .certificate-small {
        font-size: smaller;
        line-height: 1;
    }
    .certificate-small b {
        font-size: smaller;
        line-height: 2;
    }
    /* footer */
    #footer a i {
        font-size: 150%;
    }
    /* map */
    .mapp {
        height: 50vi;
    }
}

@media (max-width:992px) {
    /*  */
    .card-job {
        display: inline;
    }
    .in4-div ul li p span {
        width: 22%;
    }
    #job-info h4 {
        font-size: 24px;
    }
    .icons {
        font-size: 6vi;
    }
    /* chungchi */
    .cer img {
        width: 17vw;
        height: 12vi;
    }
    .certificate-small {
        font-size: 10px;
        line-height: 1;
    }
    .certificate-small b {
        font-size: 12px;
        line-height: 1.2;
    }
    /* du an */
    .img-project {
        width: 100%;
        height: 20vi;
    }
    .section-titlediv {
        font-size: smaller;
        line-height: 1.5;
    }
    /* map */
    .mapp {
        height: 60vi;
    }
    /* footer */
    #footer a i {
        font-size: 140%;
    }
    /*  */
    .avatar {
        display: none;
    }
}

@media(max-width:820px) {
    /* bannerimg */
    .banner-text {
        font-size: 14px;
        top: 10%;
    }
    .banner-text h1 {
        font-size: 24px;
    }
    /* navbar */
    #navbar-item a {
        font-size: 12px;
    }
    #nav-link {
        width: 20vw;
    }
    .section-title {
        font-size: 25px;
    }
    .infor {
        font-size: 13px;
    }
    .infor p,
    .infor ul,
    #info-icon {
        width: 76%;
        margin-left: 12%;
    }
    .infor a {
        font-size: 14px;
    }
    .infor a:hover {
        font-size: 18px;
    }
    .in4-div ul li p span {
        width: 28%;
    }
    /* chungchi */
    .cer img {
        width: 18vw;
        height: 14vi;
    }
    .certificate-small {
        font-size: 10px;
        line-height: 1.4;
    }
    .certificate-small b {
        font-size: 12px;
        line-height: 1.7;
    }
    /* footer */
    #footer a i {
        font-size: 130%;
    }
    .inputt,
    .map h4 {
        font-size: smaller;
    }
}

@media(max-width:768px) {
    /*  */
    .in4-div ul li p span {
        width: 15%;
    }
    .icons {
        font-size: 8vi;
    }
    /* chung chi */
    .cer img {
        width: 20vw;
        height: 16vi;
    }
    .certificate-small {
        line-height: 1.5;
    }
    .certificate-small b {
        line-height: 1.8;
    }
    .cer img {
        width: 18vw;
        height: 13vi;
    }
    .cer-left {
        border-right: 1px solid #d6c08d;
    }
    /* footer */
    #footer a i {
        font-size: 120%;
    }
    /* map */
    .mapp {
        height: 60vi;
    }
}

@media(max-width:767.20px) {
    /* thongtin */
    #job-info h4 {
        font-size: 24px;
    }
    /* chung chi */
    .certificate-div img {
        margin-left: 5px;
        border: 2px solid #fff;
    }
    .cer-left {
        border-right: 1px solid #d6c08d;
        height: 13vi;
    }
    /* footer */
    #footer a i {
        font-size: 110%;
    }
}


/* mobile */

@media(max-width:575.20px) {
    /* img */
    .banner-text {
        font-size: 12px;
        top: 5%;
    }
    .banner-text h1 {
        font-size: 22px;
    }
    .banner-img {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        border-radius: 0px;
    }
    /* navbar */
    #nav-bar {
        width: 98%;
        height: 20vh;
        margin-left: 1%;
        margin-right: 1%;
    }
    #nav-container {
        height: 100%;
        display: block;
    }
    #navbar-item {
        border: none;
    }
    #navbar-item a {
        display: block;
        width: 98vw;
    }
    .in4-div ul li p span {
        width: 20%;
    }
    .icons {
        font-size: 12vi;
    }
    /* chung chi */
    .cer img {
        width: 24vw;
        height: 18vi;
    }
    .certificate-small {
        font-size: x-small;
        line-height: 1;
    }
    .certificate-small b {
        font-size: x-small;
        line-height: 1;
    }
    .certificate-div:last-child {
        border-bottom: 1px solid #d6c08d;
    }
    .cer-left {
        border-right: none;
        height: auto;
    }
    /* du an */
    .img-project {
        width: 100%;
        height: 50vi;
    }
    .section-titlediv {
        font-size: medium;
        line-height: 1.5;
    }
    /* footer */
    #footer a i {
        font-size: 120%;
    }
    /* map */
    .mapp {
        display: none;
    }
}

@media (max-width:290px) {
    /* chung chi */
    .certificate-small {
        font-size: xx-small;
        line-height: 2;
        margin: 0;
    }
    .certificate-small b {
        display: inline-block;
        padding: 8px;
        width: 100%;
        font-size: 8px;
        line-height: 1;
    }
    .cer-img img {
        margin-left: 0;
    }
    .cer-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* du an */
    .section-titlediv {
        font-size: x-small;
        line-height: 1;
    }
}